.nav{
    grid-area: n;
    background-color: rgba(0, 0, 210, 0.5);
    padding: 10px;    
    border: 4px solid #08f;
    height: 300px;
    border-radius: 20px;
}

.nav a.active{
    color: yellow;
}

.nav a{
    text-decoration: none;
    color: #fff;
}